/*reset basico*/
*{
    margin: 0;
    padding:0;
    box-sizing:border-box
}

body{
    frot-family: 'segoe UI', Arial, sans-serif;
    color: #222
}

/*header*/
header {
    background-color: #0d1b2a;
    color: white;
    padding: 25px 20px;
    text-align: center;
}

header h1 {
    font-size: 1.8rem;
    margin-bottom: 8px;
}

header img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin-bottom: 10px;
}

header p {
    font-size: 0.95rem;
    color: #cfd8dc;
    margin-bottom: 15px;
}

/*nav*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.95rem;
    padding: 6px 12px;
    border-radius: 6px;
    transition: background-color 0.2s ease;
}

nav a:hover {
    background-color: #22d3ee;
    color: #0d1b2a;
}

/* ===== FOOTER ===== */
footer {
    background-color: #0d1b2a;
    color: #cfd8dc;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    font-size: 0.85rem;
}

footer p {
    margin: 3px 0;
}